<launch>
	<arg name="dev" default="/dev/input/by-id/usb-Logitech_Logitech_Cordless_RumblePad_2-joystick" />
	<node pkg="joy" type="joy_node" name="$(anon joy_node)" >
		<param name="dev" value="$(arg dev)" />
		<param name="autorepeat_rate" value="10.0" />
		<remap from="joy" to="ugv_1_ocu/joy" />
	</node>
	<node pkg="nifti_teleop" type="nifti_teleop_joy.py"
		name="$(anon remote_teleop_joy)" output="screen" >
		<param name="cmd_vel_topic" value="/teleop_joy/cmd_vel" />
		<remap from="joy" to="teleop_joy/tank_joy" />
	</node>
</launch>
