*~
.*.sw[op]
*.py[co]
.idea
*.asv

autogen_srv

.catkin_tools/
build/
devel/
logs/
rosbags/

temp/

nbproject/
.vscode/ 

.catkin_workspace
nav_ws/src/CMakeLists.txt
patrolling_ws/src/CMakeLists.txt
mapping_ws/src/CMakeLists.txt
exploration_ws/src/CMakeLists.txt
pioneer_ws/src/CMakeLists.txt
#patrolling_ws/src/msgs/brics_actuator
jackal_ws/src/CMakeLists.txt
teb_ws/src/CMakeLists.txt

models.gazebosim.org

gazebo_models/

laser_slam_ws

screenlog.0
