<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="example_robot">

  <!-- Base Footprint -->
  <link name="base_footprint_link" />

  <xacro:include filename="$(find ouster_os1_64)/urdf/os1_64.urdf.xacro"/>
  <xacro:os1_64 parent="base_footprint" name="ouster" prefix="/os1_cloud_node" hz="10" samples="512">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:os1_64>

</robot>
