<?xml version="1.0" encoding="utf-8"?>	

<launch>

    <arg name="robot_name" default="robot" />
    <arg name="simulator" value="" />

    <arg name="respawn_value" default="false" /> <!-- boolean: true, false -->

    <arg name="cloud_in" default="local_map" /> 

    <arg name="large_radius_for_normals" default="false" /> <!-- boolean: true, false -->    

    <arg name="settings_file" default="$(find  path_planner)/launch/path_planner_octomap.yaml" unless="$(arg large_radius_for_normals)" />
    <arg name="settings_file" default="$(find  path_planner)/launch/path_planner_octomap_large.yaml" if="$(arg large_radius_for_normals)"/>

    <!-- normals computation -->
    <node name="compute_normals_$(arg robot_name)" pkg="path_planner" type="compute_normals" respawn="$(arg respawn_value)" output="screen"> 

        <rosparam file="$(arg settings_file)" /> 

        <param name = "robot_frame_name" value = "base_link"/>
        <!--param name = "laser_frame_name" value = "laser"/-->     
        <param name = "laser_frame_name" value = "ouster_lidar"/>    

        <!--remap from = "cloud_in" to = "/dynjoinpcl_nn"/-->
        <!--remap from = "cloud_out" to = "/dynjoinpcl"/-->

        <!-- Input -->
        <!--remap from = "cloud_in" to = "/local_map"/-->
        <remap from = "cloud_in" to = "$(arg cloud_in)"/>
        <!--remap from = "cloud_in" to = "/volumetric_mapping/octomap_pcl"/-->

        <!-- Output -->
        <remap from = "cloud_out" to = "/local_map_normals"/>
        <remap from = "/normals_marker" to = "/normal_markers"/>

    </node> 

</launch>
