<?xml version="1.0" encoding="utf-8"?>	

<launch>

  <arg name="robot_name" default="ugv2" />
  <arg name="simulator" default="/vrep" />
  
  <arg name="respawn_value" default="false" /> <!-- boolean: true, false -->

  <arg name="lambda_trav"  default="1.0"/>    
  
      <include file="$(find path_planner)/launch/sim_queue_path_planner_ugv1.launch" >
          <arg name="simulator" value="$(arg simulator)" />
          <arg name="respawn_value" value="$(arg respawn_value)" />
          <arg name="robot_name" value="$(arg robot_name)" />
          <arg name = "lambda_trav" value="$(arg lambda_trav)"/>  
          		
      </include>
  
</launch>
