<?xml version="1.0" encoding="utf-8"?>	
	
<launch>
    
   <arg name="robot_name" default="ugv1" />
   <arg name="simulator" default="/vrep" />
   
  <arg name="respawn_value" default="false" /> <!-- boolean: true, false -->
   

  <!-- ICP configuration file -->
  <arg name="icp_configuration_file" default="$(find laser_mapper)/cfg/icp_dynamic_indoor.yaml"/> 
  <!-- Input filters file -->
  <arg name="icp_input_filters_file" default="$(find laser_mapper)/cfg/input_filters_indoor.yaml"/>
  	
  <!-- laser_mapper node -->
  <node name="laser_mapper_$(arg robot_name)" pkg="laser_mapper" type="laser_mapper_node" output="screen" respawn="$(arg respawn_value)">
    <param name="icp_configuration_file" value="$(arg icp_configuration_file)"/>
    <param name="icp_input_filters_file" value="$(arg icp_input_filters_file)"/>
    
    <!-- Advertised -->
    <remap from="/laser_mapper_$(arg robot_name)/new_fixed_cloud" to="$(arg simulator)/$(arg robot_name)/laser_mapper"/>
    
  </node>

</launch>
