<launch>

  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_ugvs)/config/robots/starleth.yaml" />
    <rosparam command="load" file="$(find elevation_mapping_ugvs)/config/elevation_maps/starleth_map.yaml" />
    <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/kinect_nguyen_et_al.yaml" />
    <rosparam command="load" file="$(find elevation_mapping_ugvs)/config/postprocessing/postprocessor_pipeline.yaml" />
  </node>

  <!-- Launch visualizations for the resulting elevation map -->
  <include file="$(find elevation_mapping_ugvs)/launch/visualization.launch" />

  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping_ugvs)/rviz/elevation_map_visualization.rviz" />

</launch>
